{% extends 'base.html' %}

{% block title %} restablecer contraseña {% endblock title %}

{% block content %}

    <!--Reset Password-->

    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">

                    <h2 class="font-weight-bold mt-3">Restablecer contraseña</h2>
                    <hr />
                    <p>
                        ¿Olvidó su contraseña? ingrese su correo para 
                        enviarle instrucciones para restablecerla.
                    </p>
                    <form method="POST">
                        {% csrf_token %} {{ password_reset_form.as_p }}
                        <br>
                        <button class="btn btn-primary" type="submit">Enviar correo</button>
                    </form>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
